# Jupyter & Python Tutorial

## Jupyter essentials

#### To display keyboard shortcuts type Esc+H

#### There are two important types of cells in Jupyter: code and markdown
#### Code is default, it means that whatever you type in the cell is evaluated as code
#### Markdown cell serves for adding text labels that help to organize the code

#### You can execute the cell by clicking "run cell" button or by pressing Shirt+Enter (move to next cell) or Ctrl+Enter (evaluate and stay in same cell)

### Basic aritmetics - feel free to experiment yourself!

In [1]:
1 + 2

3

In [2]:
10 / 3

3.3333333333333335

In [3]:
10 / 3.0

3.3333333333333335

In [4]:
10 // 3

3

In [5]:
10 % 3  # modulo

1

### Assigning values to variables

In [6]:
a = 5              # integer
b = 3.4            # float
c = "hello world"  # string
(a, b, c)          # display variables

(5, 3.4, 'hello world')

In [7]:
a = '5'  # rebound to string
int(a)   # cast to integer

5

### Printing & formatting values

In [8]:
print('BigDataTech!')         # print string literal

BigDataTech!

In [9]:
print('{a} apples'.format(a=a)) # format string

5 apples

### Working with lists
#### Lists in python are ordered sequences of elements

In [10]:
grades = ['B', 'D', 'A', 'C'] 
grades.append('E')
grades

['B', 'D', 'A', 'C', 'E']

In [11]:
grades.sort()
grades

['A', 'B', 'C', 'D', 'E']

In [12]:
grades[0]    # access list elements - indexes start with 0!

'A'

In [13]:
grades[1:3]  # access range of values

['B', 'C']

In [14]:
grades[-1]   # access last element

'E'

In [15]:
print('|'.join(grades))   # join list elements with a separator

A|B|C|D|E

In [16]:
len(grades)    # length of the list

5

### Working with tuples
#### Tuples are similar to lists. The main difference is that they are immutable (they can not be modified after they are created)

In [17]:
t = (3, 'Apache Spark', 1.0)
print(t[1])

Apache Spark

In [18]:
try:
    t.append(2)    # trying to modify a tuple produces error
except AttributeError:
    pass

### Dictionaries
#### Dictionaries are key value pairs

In [19]:
age = {}        #new dictionary
age['adam'] = 28
age['pedro'] = 31
print(age['adam'])

28

In [20]:
'pedro' in age     #contains?

True

In [21]:
'luis' in age

False

### Functions & Conditionals
#### Functions are pieces of code that can be reused and reexecuted with different set of variables
#### With Python we define functions with 'def' keyword

In [22]:
def getGrade(student, course):
    gradesDict = {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'}
    if course == 'Spark':       #indentation!
        return gradesDict[hash(student) % 5]
    else:
        print("Unknown course")

In [23]:
getGrade('adam', 'Spark')

'B'

In [24]:
getGrade('Jose', 'Biology')

Unknown course

### Exercise

#### 1. Write a function that determines whether an integer passed as parameters is odd or even.

In [25]:
def odd_or_even(number: int) -> str:
    if number % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [26]:
list(map(lambda x: 'even' if x % 2 == 0 else 'odd', [0, 1, 2, 3, 4, 5]))

['even', 'odd', 'even', 'odd', 'even', 'odd']

In [27]:
for number in range(10):
    print('%d is %s' % (number, odd_or_even(number)))

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd